*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    background-color: #5596e0;

}
.navbar{
    display: flex;
    justify-content: space-between;
}

.header-logo { 
    display: flex;
    justify-content: flex-start;
    width:  90px;
    height: 90px;
    margin-top: 10px;
    margin-left: 10px;
    

}
.header-link{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 30px;
    margin-right: 100px;
    margin-top: 10px;
}
